<!doctype>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>malm</title>
    <meta name="description" content="malm mail server web view">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="css/style.css?v=2">

  </head>

  <body>

    <div id="container">
      <header>
        <h1>malm</h1>
      </header>
      
      <div id="main" role="main">
        <div id="messages">
          <h2>Messages</h2>
          <div id="messages_content"></div>
        </div>
        <div id="message">
          <h1>Message</h1>
          <div id="message_content"><p>Click message to load content...</p></div>
        </div>
      </div>
      
      <footer>
        <p>I blame <a href="https://twitter.com/#!/madlep">@madlep</a> for <a href="https://github.com/madlep/malm">malm</a></p>
      </footer>
    </div> <!-- eo #container -->

    <script src="/js/lib/jquery-1.6.2.min.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/handlebars.1.0.0.beta.3.js"></script>
    <script src="/js/message.js"></script>
    <script src="/js/messages.js"></script>
    <script src="/js/messages_view.js"></script>
    <script src="/js/main.js"></script>
  
  
    <script type="text/x-handlebars-template" id="messages_template">
      {{#each messages}}
        <div class="messages_item">
          <p><a href="#/messages/{{this.id}}/body.html">{{this.subject}}</a></p>
        </div>
      {{/each}}
    </script>
  
  
    <script type="text/javascript">
      $(function(){
        malm_init($("#messages_content"));
      });
    </script>
  
  </body>
</html>