<!doctype>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>malm</title>
    <meta name="description" content="malm mail server web view">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="css/style.css?v=2">

    <script type="text/html" id="messageViewTemplate">
      <p>
        <div class="subject">{{subject}}</div>
        <div class="contentTypeLinks">
          {{#htmlUrl}}
            <a class="html" href="javascript: void(0)">HTML</a>
          {{/htmlUrl}}
          {{#textUrl}}
            <a class="text" href="javascript: void(0)">plain text</a>
          {{/textUrl}}          
        </div>
      </p>
    </script>
    
    <script type="text/html" id="messageBodyTemplate">
      <span>Subject:</span> <span>{{message.subject}}</p>
      <iframe src="{{bodyUrl}}" style="width:100%;height:100%"/>
    </script>
    

  </head>

  <body>

    <div id="container">
      <header>
        <h1>malm</h1>
      </header>
      
      <div id="main" role="main">
        <div id="messages">
          <h2>Messages</h2>
          <div id="messagesContent">
            <div class="reload"><a href="javascript: void(0)">Reload</a></div>
            
          </div>
        </div>
        <div id="message">
          <h1>Message</h1>
          <div id="messageBody"><p>Click message to load content...</p></div>
        </div>
      </div>
      
      <footer>
        <p>I blame <a href="https://twitter.com/#!/madlep">@madlep</a> for <a href="https://github.com/madlep/malm">malm</a></p>
      </footer>
    </div> <!-- eo #container -->

    <script src="/js/lib/jquery-1.6.2.min.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/mustache.js"></script>

    <script src="/js/malm.js"></script>
    
  
    <script type="text/javascript">
      $(function(){
        Malm.start();
      });
    </script>
  
  </body>
</html>